body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #06389e;
    background-color: #e6e6e6;
    margin-top: 0;
}

#shapka, #slogan {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

#slogan {
    padding: 5px 0 5px 0;
}

.foot {
    color: white;
    font-size: 0.6rem;
    text-align: center;
    background-color: #6699ff
}